@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141312;
  --foreground: #ffffff;
  --mygray-100: #1c1a19;
  --mygray-200: #353335;
  --mygray-300: #998f8f;
  --orange-accent: #f46c39;
  --green-accent: #c5ff41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141312;
    --foreground: #ffffff;
    --mygray-100: #1c1a19;
    --mygray-200: #353335;
    --mygray-300: #998f8f;
    --orange-accent: #f46c39;
    --green-accent: #c5ff41;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
